{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% block content %} 



    <div class="container-fluid" >

            <div class="container">
                <div class="box">
                    <h3> {{studentname}} </h3>
                    <h5> Class Year </h5>
                    <h5> {{studentsch}} </h5>
                    
                </div>
                <div class="box">
                    <h3>Programs</h3>
                    <ul>
                        <h5> Majors: </h5>
                        {% for major in studentMaj %}
                            <li>{{ major }}</li>
                        {% endfor %}
                        
                        
                        <h5 style="margin-top: 20px;">Minors: </h5>
                        {% for minor in studentMin %}
                            <li>{{ minor }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box">
                    <h3>What if?</h3>
                
                        <select id="courseDept" name="courseDept" class="form-select mx-2" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                            <option selected>Major</option>
                            {% for dept in departments %}
                                <option>{{ dept }}</option>
                            {% endfor %}
                        </select>
                        
                        <select id="courseDept" name="courseDept" class="form-select mx-2" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                            <option selected>Minor</option>
                            {% for dept in departments %}
                                <option>{{ dept }}</option>
                            {% endfor %}
                        </select>

                           
                          <a href="url">Restore Declared Programs</a>
                          <a href="url">Restore Classes Taken</a> 
                    </div>
                    
                </div>
            </div>

            <div class="container mt-5">
                <h2>Add Courses</h2>
                <form id="dynamicForm">
                    <select name="Semester" id="semester">
                        <option value="Freshman Fall">Freshman Fall</option>
                        <option value="Freshman Spring">Freshman Spring</option>
                        <option value="Freshman Summer">Freshman Summer</option>
                        <option value="Sophomore Fall">Sophomore Fall</option>
                        <option value="Sophomore Spring">Sophomore Spring</option>
                        <option value="Sophomore Summer">Sophomore Summer</option>
                        <option value="Junior Fall">Junior Fall</option>
                        <option value="Junior Spring">Junior Spring</option>
                        <option value="Junior Summer">Junior Summer</option>
                        <option value="Senior Fall">Senior Fall</option>
                        <option value="Senior Spring">Senior Spring</option>
                      </select>

                    <div class="form-group">
                        <label for="item1">Course 1:</label>
                        <select id="courseDept" name="courseDept" onchange="updateCourses()" class="form-select mx-2" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                            <option selected>Department</option>
                            {% for dept in departments %}
                                <option>{{ dept }}</option>
                            {% endfor %}
                        </select>
                        <select id="courseList" name="courseList" class="form-select mx-2" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                            <option selected>Course</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addItem()">Add More</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>

            
            <script>
                let itemCount = 1;
            
                function addItem() {
                    // Clone the template div
                    let template = document.getElementById('dropdownTemplate');
                    let clone = template.cloneNode(true);

                    // Update the clone's child elements' IDs and names
                    let dropdowns = clone.querySelectorAll('select');
                    dropdowns.forEach(function(dropdown, index) {
                    // Update the 'id' and 'name' attributes to make them unique
                        dropdown.id = dropdown.id + '_' + document.querySelectorAll('.form-group').length;
                        dropdown.name = dropdown.name + '_' + document.querySelectorAll('.form-group').length;
                    });

                // Append the cloned element to the container
                document.getElementById('dropdownContainer').appendChild(clone);
            }
               

                function updateCourses() {
                    const department = document.getElementById('courseDept').value;
                    const courseList = document.getElementById('courseList');
                    courseList.innerHTML = '<option selected>Loading...</option>';

                    fetch(`/get_courses/${department}`)
                        .then(response => response.json())
                        .then(data => {
                            courseList.innerHTML = '<option selected>Course</option>';
                            data.forEach(course => {
                                const option = document.createElement('option');
                                option.value = course;
                                option.textContent = course;
                                courseList.appendChild(option);
                            });
                        });
                }
            </script>



            <div class="bottom-container">
                <div class="bottom-box">
                    <h3>Freshman Year</h3>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                </div>
            
                <!-- Button dropdowns -->

                
                <div class="bottom-box">
                    <h3>Sophomore Year</h3>
            
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for course in courses %}
                            <option>{{ course }}</option>
                            {% endfor %}
                           
                        </ul>
                </div>


                <div class="bottom-box">
                    <h3>Junior Year</h3>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                   
                </div>
                <div class="bottom-box">
                    <h3>Senior Year</h3>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>

                </div>
            </div>
    </div>
{% endblock %}
