.right {
    float: right;
    width: 300px;
    padding: 10px;
  }
  
  h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
  }
  
  .navbar {
    background: #7A2323;
    height: 70px;
    
  }
  
  .navbar-brand{ 
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
  }
  
  .nav-item {
    color: #000000;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 10);
    background: #dccaa0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1px 5px;
  }
  .nav-link{
    color: #000000;
    background: #dccaa0;
    font-family: 'Open Sans',sans-serif;

  }
  .btn {
    font-family: 'Open Sans',sans-serif;
  }
  
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #515151;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #684949}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  circle.fg {
    transform: rotate(-90deg);
    transform-origin: 125px 125px;
  }
  
  .circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #5394fd;
  }
  
  /*background color for plan columns*/
  .custom-bg-color {
    background-color: #86ff92;
  }
  


  .dropdown {
    position: relative;
    width: 230px;
    filter: url(#goo);
  
    &__face,
    &__items {
      background-color: #fff;
      padding: 20px;
      border-radius: 25px;
    }
  
    &__face {
      display: block;
      position: relative;
    }
  
    &__items {
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      list-style: none;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  
      &::before {
        content: "";
        background-color: #fff;
        position: absolute;
        bottom: 100%;
        right: 20%;
        height: 40px;
        width: 20px;
      }
    }
  
    &__arrow {
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      position: absolute;
      top: 50%;
      right: 30px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: right;
    }
  
    input {
      display: none;
  
      &:checked ~ .dropdown__items {
        top: calc(100% + 25px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  
  body {
    background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
    display: grid;
    place-items: center;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  svg {
    display: none;
  }
  