{% extends 'base.html' %} 
{% block title %}Course Search+{% endblock %} 
{% block content %} 
   
    <!-- We need to setup the form here-->

    <div class="aisearchbar">
        <form action="/coursesearch" method="POST" class="mx-auto row g-3">
            <input class="mx-2 my-auto" type="text" placeholder="Keyword" id="searchText" name="searchText"><br>
            <select id="searchDept" name="searchDept" class="form-select mx-2 nav-item" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                {% if search_dept != "Department" %}
                <option selected>{{ search_dept }}</option>
                <option>Department</option>
                {% else %}
                <option selected>Department</option>
                {% endif %}
                {% for dept in departments %}
                    <option>{{ dept }}</option>
                {% endfor %}
            </select>

            <select id="searchReq" name="searchReq" class="form-select mx-2 nav-item" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                {% if search_req != "Requirement" %}
                <option selected>{{ search_req }}</option>
                <option>Requirement</option>
                {% else %}
                <option selected>Requirement</option>
                {% endif %}
                {% for req in requirements %}
                    <option>{{ req }}</option>
                {% endfor %}
            </select>
            <select id="searchCredit" name="searchCredit" class="form-select mx-2 nav-item" style="max-height: 70vh; overflow:scroll;max-width:125px;">
                {% if search_cred != "Credit" %}
                <option selected>{{ search_cred }}</option>
                <option>Credit</option>
                {% else %}
                <option selected>Credit</option>
                {% endif %}

                {% if search_cred != "1" %}
                <option>1</option>
                {% endif %}

                {% if search_cred != "2" %}
                <option>2</option>
                {% endif %}

                {% if search_cred != "3" %}
                <option>3</option>
                {% endif %}

                {% if search_cred != "4" %}
                <option>4</option>
                {% endif %}

                {% if search_cred != "5+" %}
                <option>5+</option>
                {% endif %}


            </select>
                
            <input type="submit" class= "btn-red btn mx-auto" value="Search">
        </form>
      </div>

      {% if search_text != "" %}
            <div class="aisearchbar">Searched: {{ search_text }}</div>
      {% endif %}

    <div class="container-fluid">
        <div class="row mt-3 mx-5">
            
    <!-- Here is where we can output the formatted cards. Inside we include the modal window(more info option)-->
    {% for course in searched_courses %}
    <div class="col-6 mb-4 mx-auto">
        
    <div class="card border-secondary my-2 w-200" >
        <div class="card-header">
            <div class="row">
                <div class="col-5 my-auto">
                    Class Code: {{course.code}}
                </div>
                <div class="col-7 my-auto">
                    Program Reqs: {{ course.program_reqs }}
                </div>
                <div class="col-5 my-auto">
                    Credits: {{ course.credits }}
                </div>
                <div class="col-7 my-auto">
                    Prerequisites: {{ course.prerequisites }}
                </div>
                
            </div>
        </div>
        <div class="card-body text-secondary">
          <h4 class="card-title">{{ course.title }}</h4>
          <p class="card-text">{{ course.description }}</p>
        </div>
    </div>
</div>

    {% endfor %}

    
    </div>
    </div>
        


{% endblock %}