{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% block content %} 
    <div class="container-fluid" style="background-color: #8a100b;">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
                .container {
                    display: flex;
                    background-color: #FFFFFF;
                    border: 2px solid #f0f0f0; /* Fixed incorrect syntax */
                }

                .box {
                    flex: 1;
                    margin: 15px;
                    padding: 40px;
                    background-color: #FFFFFF;
                    border: 2px solid #f0f0f0; 
                }

                .bottom-container {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 20px;
                    background-color: #FFFFFF;
                    border: 2px solid #f0f0f0; 
                    padding: 20px;
                }

                .bottom-box {
                    flex: 1;
                    margin: 10px;
                    padding: 20px;
                    background-color: #FFFFFF;
                    border: 2px solid #f0f0f0; 
                }

                .hr {
                    display: block;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                    margin-left: auto;
                    margin-right: auto;
                    border-style: inset;
                    border-width: 9px;
                }



            </style>
        </head>
        <body style="background-color:#FFFFFF;">
            <div class="container">
                <div class="box">
                    <h3>Student Name</h3>
                    <h5>Class Year</h5>
                    <h5>School at BC</h5>
                    <a href="url">Link to Student Questionare</a>
                </div>
                <div class="box">
                    <h3>Programs</h3>
                    <ul>
                        <li>Major #1</li>
                        <li>Major #2</li>
                        <li>Minor #1</li>
                        <li>Minor #2</li>
                    </ul>
                </div>
                <div class="box">
                    <h3>What if?</h3>
                    <div class="dropdown-center">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Major</button><button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Minor</button>
                    </div>
                    <a href="url">Restore Declared Programs</a>
                    <a href="url">Restore Classes Taken</a>
                </div>
            </div>

            <div class="bottom-container">
                <div class="bottom-box">
                    <h3>Freshman Year</h3>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                   



                </div>
                <div class="bottom-box">
                    <h3>Sophomore Year</h3>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                </div>
                <div class="bottom-box">
                    <h3>Junior Year</h3>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                </div>
                <div class="bottom-box">
                    <h3>Senior Year</h3>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>
                    <hr style="width: 100%;%;text-align:left;margin-left:0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 1</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 2</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 3</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 4</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 5</button> <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Class 6</button>

                </div>
            </div>
        </body>
        </html>
    </div>
{% endblock %}
